.bg
{
    background: url("bg.png");
    height: 100%;
    width:100%;
    background-size: cover;
    background-position:center center;
    position: fixed;
    z-index: 6;        
}
#op{
    font-family: 'PT Serif', serif;
    font-size: 50px;
    color: beige;
    
}
#op1{
    padding-top: 250px;
}
.btn
{   
    background-color: rgb(6, 36, 138);
    margin-left: 1100px;
    margin-top: 20px;
    padding: 0px 20px ;
    margin-right: 10px;
    font-size: 25px;
    border-radius: 20px;
    color: cornsilk;
    
    font-family: 'Poppins', sans-serif;
}
.btn1
{
    margin:0 auto;
background-color: rgb(6, 36, 138);
margin-top: 20px;
padding: 0px 20px ;
font-size: 25px;
border-radius: 20px;
color: cornsilk;

font-family: 'Poppins', sans-serif;
}
.btn:hover
{
    background-color: rgba(95, 89, 129, 0.137);
    color: rgba(139, 0, 0, 0.294);
}
.btn1:hover
{
    background-color: rgba(95, 89, 129, 0.137);
    color: rgba(139, 0, 0, 0.294);
}
